.wrapper {
    padding-top: 50px;
    background: #ECEFF1;
    border-radius: 10px;
    height: 100%;
    width: 90%;
    margin: 2% auto;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    
  }