.header {
    background-color: whitesmoke;
    /* background: url("/images/pink.jpg"); */
    /* background-repeat: no-repeat;
    background-size: auto; */
    color: purple;
    min-height: 400px;
    padding: 180px 20px;
    padding-bottom: 140px;
    text-align: center;
    font-family: serif;
}